/* #portfolio > ul > li:before {
    content: '\1F320';
    margin-left: -20px;
    margin-right: 10px;
} */

#experience > ul > li{
    list-style-type: none;
    margin-left: 0px;
}

#experience > ul > li:before {
    content: '\2B50';
    margin-left: -30px;
    margin-right: 10px;
}

#experience > ul > .study:before {
    content: '\1F393';
}

#experience > ul > .work:before {
    content: '\1F4BC';
}

body {
    color: #0F101B;
    background-color: #B99D80;
    -webkit-user-select: text; /* Safari */        
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* IE10+/Edge */
    user-select: text; /* Standard */
}

hr {
    border-color: #0F101B;
}

header a {
    color: #0F101B;
}

a {
    font-weight: bold;
    color: #0F101B;
}