.centerVertical {
    height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding-top: 10em;
}

/* slightly less header padding on mobile */
@media screen and (max-width: 100em) {
    .centerHorizontal {
        margin-left: 30vh;
    }
}
.centerHorizontal {
    width: 38em;
    min-width: 400px;
    max-width: calc(100% - 2em);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}
/* on desktop, content is slightly off to the left */
@media screen and (min-width: 120em) {
    .centerHorizontal {
        margin-left: 40em;
    }
}
a {
    color: white;
}
html {
    font-family: Helvetica, Arial, sans-serif
}
.bulletImg {
    height: 2.5em;
    filter: invert(1);
}
#backgroundImage {
    background-image: url(./img/backgrounds/4.jpg);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    overflow: hidden;
    position: fixed;
    z-index: -1;
    background-size: cover;
    filter: blur(2px);
}
nav a {
    color: white;
}
nav li:before {
    content: '\1F320';
    margin-left: -20px;
    margin-right: 10px;
    }
nav {
    margin-top: 1em;
    margin-bottom: 1em;
}
nav ul {
    padding-left: 1em;
}
nav li:first-of-type {
    margin-left: 0px;
}
nav li {
    margin-left: 2.5em;
    display: inline;
}

header {
    margin-bottom: 2.5em;
}

footer {
    margin-top: 2.5em;
}

.soundcloud {
    max-width: 40em;
}

#featured {
    border: 1px solid white;
    border-radius: 10px;
    padding: 1em;
    margin-left: -1em;
    margin-right: -1em;
}

#featured h3 {
    margin-top: 0px;
}

h1 {
    font-size: 2.5em;
}

section {
    margin-top: 2em;
    margin-bottom: 2em;
}

.caption {
    margin-left: 1em;
    font-style: italic;
    font-size: small;
    margin-top: -2em;
    margin-bottom: 1em;
}

p img{
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 100%;
}